.footer {
    border-top: 2px solid gray;
    padding-bottom: 5%;
    padding-top: 2%;
}

.footer ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    list-style-type: none;
}

.footer-link {
    color: black;
}

.footer-link:hover {
    /* text-decoration: none; */
    color: rgb(39, 1, 1);
}