.footer {
    border-top: 2px solid gray;
    padding-bottom: 5%;
}

.footer ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    font-size: 1.5rem;
    font-weight: 700;
    list-style-type: none;
    color: aliceblue;
}

.footer-link {
    color: black;
}

.footer-link:hover {
    /* text-decoration: none; */
    color: rgb(39, 1, 1);
}