.container-navbar {
   background-color: blue; 
   height: 100vh;
   display: flex;
   padding: 0 2%;
}

.info-nav{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    margin-top: 2%;
}

.link {
    font-size: 2rem;
    color: rgb(230, 233, 12);
    background-color: rgb(233, 14, 14);
}

.link:hover {
    text-decoration: none;
    border: 2px solid rgb(61, 9, 112);
}

.btn-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

