.info-nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .navbar-heading {
     display: inline-block;
 }

 .navbar-h1::before {
    display: inline-block;
    content: "";
    width: 2rem;
    height: 2rem;
    background-color: #e01515;
    border-radius: 50%;
    margin-right: 1rem;
 }

 .navbar-h1 {
   color: black;
 }

  .navbar-h1:hover {
     color: black;
     text-decoration: none;
  }

 .link {
    padding: 4%;
    color: black;
    font-size: 1.5rem;
 }

 .link:hover {
    list-style-type: none;
    color: rgb(110, 84, 6);
 }

 .link-2 {
    padding: 4%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
 }

 @media screen and (max-width: 820px) {
   .container-navbar {
      width: 90%;
   } 
}



