/* 

.project-img-box {
    display: flex;
    height: 100%;
    width: 45%;
    justify-content: center;
    align-items: center;
}

.project-info h2 {
    flex: 1;
    color: rgb(49, 2, 2);
    text-align: center;
    text-decoration: underline;
}

.project-info p {
    flex: 4;
    font-size: 1.1rem;
}

 */

 .projects {
    width: 95%;
    margin: 2% 5% 0 5%;
 }

.projects-container {
    display: flex;
    margin: auto;
    width: 60vw;
    flex-direction: column;
    justify-content: center;
}

.projects-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 50vh;
    margin-bottom: 8%;
    padding: 2%;
    border-radius: .3rem;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.project-img-box img {
    width: 95%;
    height: 95%;
}

.project-info {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    gap: 5%;
}

.live-link a {
    padding: 2%;
    margin: 2%;
    border: 1px solid black;
    border-radius: 50%;
    text-decoration: none;
    color: rgb(166, 160, 160);
}

.live-link a:hover {
    background-color: darkkhaki;
    color: darkblue;
}