.container-quotes {
background-color: rgb(13, 167, 228);
color: white;
height: 14vh;
}

.quotes{
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quotes p{
    font-size: 0.9rem;
    font-weight: 600;
}

.quotes p::before {
    content: open-quote;
}

.quotes p::after {
    content: close-quote;
}

.quotes .h5 {
    font-size: 0.9rem;
    font-weight: 600;
}

.quotes h5::before {
    content: "-";
}