.container-quotes {
background-color: red;
border-bottom: 2px solid black;
height: 14vh;
}

.quotes{
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 0.9rem;
    font-weight: 600;
}

p::before {
    content: open-quote;
}

p::after {
    content: close-quote;
}

h5 {
    font-size: 0.9rem;
    font-weight: 600;
}

h5::before {
    content: "-";
}