.resume {
    width: 95vw;
}

.skills, .career-summary {
    display: flex;
    margin: auto;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
}

.skill-section, .career-summary-list {
    width: 100%;
    height: auto;
    margin-bottom: 8%;
    padding: 2%;
    border-radius: .3rem;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.skill-section h4, .career-summary h4 {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 1rem;
}

.skills-list {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   list-style-type: none;
   font-weight: 600;
   gap: 5% 
}

.career-summary h6 {
    font-weight: bold;
}








