.resume {
    width: 95vw;
}

.skills {
    display: flex;
    margin: auto;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
}

.skill-section {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    padding: 2%;
    border-radius: .3rem;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.skill-section h4 {
    text-align: center;
    text-decoration: underline;
}

.skills-list {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   list-style-type: none;
   font-weight: 600;
   gap: 5% 
}

/* .skills-list li {
    margin-right: 5rem;
} */








