.skills-container{
/* display: flex;
flex-direction: column; */
/* align-items: center;
justify-content: center; */
}

 h3 {
     text-align: center;
     font-weight: 600;
     text-decoration: underline;
 }

.skills-container {
    
    margin: 2%;
    transition: all 3s ease-in-out;
}

.container-tech-skills:hover {
    transform: rotateY(.5turn);
}

.soft-skills-div:hover {
    transform: rotateY(-180deg);
}

.skills-card {
    width: 80%; 
   margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.skills-card img {
    width: 10%;
    height: auto;
}

p {
    text-align: center;
}

