.skills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .skills-card {
    display: flex;
    flex-direction: row;
} */

img {
    width: 10%;
}

