body {
  /* background-color: rgb(247, 247, 245); */
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  /* background-color: rgb(56, 55, 55); */
  margin: 2%;
  display: flex;
  margin-top: 1%;
}

.quotes {
  width: 70%;
  height: 100px;
}

.header p {
  font-size: 0.9rem;
  text-align: center;
  color: rgb(12, 87, 226);
}

.header-nav {
  display: flex;
  /* background-color: rgb(41, 39, 39); */
}

.heading {
  width: 70%;
  color: rgb(3, 3, 3);
  padding: 10%;
}

/* .heading:hover {
  color: rgb(129, 145, 233);
} */

.btn-nav {
  width: 30%;
  text-align: center;
}

.btn-nav button {
  margin-right: 1%;
  padding: 2%;
  background-color: black;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 20%;
  box-shadow: 5px 7px rgb(73, 67, 67);
}

.btn-nav button:hover {
  background-color: white;
  color: rgb(12, 12, 12);
  box-shadow: 5px 7px rgb(100, 98, 98);
}

.languages {
  margin: auto;
  width: 70%;
  /* border: 5px solid blue; */
  /* background-color: cadetblue; */
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.skill-div {
  border: 5px solid blue;
  width: 30%;
  transition: all 3s ease-in-out;
}

.skill-div:hover {
  transform: rotateY(-180deg);
}

/* .skill-img {
  display: inline;
} */

/* .skill-img:hover {
  display: none;
}

.skill-name {
  display: none;
}

.skill-name:hover {
  display: inline;
} */

.container {
  /* border: 2px solid green; */
  width: 30%;
  transition: all 3s ease-in-out;
}

.container:hover {
  transform: rotateY(.5turn);
}

img {
  width: 100%;
  height: auto;
}

/* .languages:hover {
  background-color:rgb(146, 240, 243);
  color: rgb(147, 14, 180);
} */
/* 
.lists {
  font-size: 30px;
} */

.about {
  margin: 10%;
}

p {
  font-size: 20px;
}

.projects {
  /* align-items: center;
  width: 90%; */
  /* margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  background-color: cadetblue; 
  color: white;
  padding-bottom: 2%;
  display: flex; */
}

/* .projects:hover {
  background-color:rgb(146, 240, 243);
  color: rgb(147, 14, 180);
} */

.cards {
  /* border: 2px solid white; */ 
  /* background-color: rgb(128, 120, 120); */
  margin: 2%;
}

 .project-links {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  background-color: rgb(59, 57, 57);
  width: 70%;
  margin: auto;
} 

.project-links a {
  text-decoration: none;
  color: rgb(136, 134, 131);
}

.project-links a:hover {
  color: rgb(241, 225, 209);
}

h3 {
  text-align: center;
  text-decoration: underline;
}

.soft-skills-section {
  margin-top: 10%;
}

/* ---------------------------- */

/* Slideshow container */
.slideshow-container {
  margin: auto;
  width: 70vw;
  height: calc(100% - 20px);
  align-items: center;
  position: relative;
  cursor: pointer;
  /* background: #f3f3d4; */
}

/* Slides */
.mySlides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.6rem;
  height: 93vh;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 5vw;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  margin: auto;
  width: 20%;
  padding: 20px;
  /* background: rgb(99, 175, 99); */
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 8px;
  background-color: rgb(97, 89, 89);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active {
  background-color: #df6514;
  height: 17px;
  width: 17px;
}
.dot:hover {
  background-color: #ccc;
}


/* Add an italic font style to all quotes */
 .image {
  text-align: left;
  width: 100%;
  height: auto;
}

/* Add a blue color to the author */
 /* .author {
  font-size: 5vw;
  color: green;
  text-align: right;
}   */

/* @media only screen and (min-width: 1000px) {
  .mySlides {
    padding: 0 10rem;
  }
} */

